Django==3.2.13
Pillow
djangorestframework
django-filter
shortuuid
django-cors-headers
django-coinpayments
django-import-export
coinaddrvalidator
djangorestframework-simplejwt
dj-rest-auth
django-allauth
psycopg2-binary
