Django==3.2.13
Pillow
djangorestframework
django-filter
shortuuid
django-cors-headers
django-import-export
coinaddrvalidator
djangorestframework-simplejwt
dj-rest-auth
django-allauth
gunicorn
pytz
psycopg2
psycopg2-binary
fcm-django
django_extensions
mysqlclient
